# Diga ao GitHub Linguist que esses arquivos não contam para a linguagem principal
*.css linguist-vendored
*.js linguist-vendored
*.html linguist-vendored

# Ignorar também ambientes virtuais
venv/* linguist-vendored
.venv/* linguist-vendored
env/* linguist-vendored

# Forçar o Python como linguagem principal
*.py linguist-language=Python
